
*{
  font-family: "Montserrat", sans-serif;
  color:white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 45px;
}

#listLink {
    display: flex;
}

#listLink li a{
    font-size: 12px;
}


body {
  background-color: black;
}


h2 {
  font-family: "Playfair Display", serif;
  font-size: 21
  px;
  color:rgb(255, 247, 17);
}


h3 {
  font-size: 14px;
}


a {
  text-decoration: none;
}


header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(https://img.freepik.com/foto-gratuito/mani-femminili-che-digitano-sulla-tastiera-di-computer_1303-27362.jpg?semt=ais_hybrid&w=740&q=80);
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 35px;
}

.logoAulab{
  width: 140px;
  height: 70px;
}

#listLink{
  list-style-type: none;
  justify-content: space-between;
  gap: 35px;
  font-size: 25px;
  font-weight: 500;
}

#listLink li a:hover{
    border-bottom: 1px solid  rgb(255, 247, 17)
}

img {
  height: 250px;
}

.btn {
  background-color: rgb(255, 247, 17);
  color: black;
  padding: 10px 25px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 14px;
}

.btn:hover {
  background-color: rgb(128, 128, 128);
  color: white;
}

.flex{
  display: flex;
  background-color: gray;
  justify-content: space-between;
  height: 80vh;
  align-items: center;
}

main{
    display: flex;
}

.boxGiallo{
    background-color: rgb(255, 247, 17);
    padding: 25px;
    text-align: center;
}

.boxGiallo h2, p{
    color: black;
}

.boxGiallo p{
    font-size: 15px;
}

.boxArticolo{
  margin-bottom: 50px;
}

footer{
  background-color: rgb(118, 118, 118);
  display: flex;
  height: 200px;
  justify-content:space-around;
  align-items: center;
}

footer li{
  list-style-type: none;
}

.icon{
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9000;
  object-fit: contain;
}

@media screen and (max-width: 600px) {
  
  .logoAulab {
    width: 80px; 
    height: auto;
  }

  #listLink li a {
    font-size: 10px;
  }
  
  main {
    flex-direction: column;
  }

  .flex {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
  }

  /* Assicuriamoci che occupino tutta la larghezza */
  .boxArticolo, .boxGiallo {
    width: 100%;
  }
}